exportPattern("^[[:alpha:]]+")
importFrom("methods", "show")
importFrom("stats", "dist", "optimize", "predict")
importFrom("glmnet","glmnet")
importFrom("geosphere","distm")
importFrom("sp","spDistsN1")
